In [20]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db =database.cursor()
try:
    m = "CREATE TABLE result(name varchar(30),physics int(3),chemistry int(3),math int(3),english int(3),nepali int(3),total float(5),per float(5),grade varchar(5))"
    db.execute(m)
    database.commit()
except:
    print("This table is already exist")

This table is already exist

In [6]:
import mysql.connector          #INSERT DATA

import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db =database.cursor()
n = int(input("Enter the nth time you enter the data:"))
for i in range(n):
    name = input("enter your name")
    physics = int(input("Enter the value of physics:-"))
    chemistry = int(input("Enter the value of chemistry:-"))
    math = int(input("Enter the value of math:-"))
    english = int(input("enter the value of english:-"))
    nepali = int(input("Enter the value of nepali:-"))
    if physics>=32 and chemistry>=32 and math>=32 and english>=32 and nepali>=32:
        total = physics+chemistry+math+english+nepali
        per = total/5
        if per>80:
            grade ="A"
        elif per>60:
            grade = "B"
        elif per>45:
            grade = "C"
        elif per>32:
            grade = "D"
        else:
            grade = "F"

        n = f'''INSERT INTO result VALUES('{name}','{physics}','{chemistry}','{math}','{english}','{nepali}','{total}','{per}','{grade}')'''
    #     c = "INSERT INTO student('manish',34,45,56,67,78,280,56,'C')"
        print(n)
        db.execute(n)
        database.commit()
    #     db.close()

    else:
        print("you are failed")

Enter the nth time you enter the data:5
enter your nameAjmer eqbal
Enter the value of physics:-44
Enter the value of chemistry:-55
Enter the value of math:-66
enter the value of english:-77
Enter the value of nepali:-88
INSERT INTO result VALUES('Ajmer eqbal','44','55','66','77','88','330','66.0','B')
enter your nameKrishana Sah
Enter the value of physics:-45
Enter the value of chemistry:-56
Enter the value of math:-36
enter the value of english:-71
Enter the value of nepali:-82
INSERT INTO result VALUES('Krishana Sah','45','56','36','71','82','290','58.0','C')
enter your nameKamlesh Mukhiya
Enter the value of physics:-87
Enter the value of chemistry:-76
Enter the value of math:-65
enter the value of english:-54
Enter the value of nepali:-43
INSERT INTO result VALUES('Kamlesh Mukhiya','87','76','65','54','43','325','65.0','B')
enter your nameGovind Sharma
Enter the value of physics:-77
Enter the value of chemistry:-87
Enter the value of math:-65
enter the value of english:-45
Enter the value of nepali:-91
INSERT INTO result VALUES('Govind Sharma','77','87','65','45','91','365','73.0','B')
enter your nameLalit Thakur
Enter the value of physics:-88
Enter the value of chemistry:-81
Enter the value of math:-76
enter the value of english:-69
Enter the value of nepali:-70
INSERT INTO result VALUES('Lalit Thakur','88','81','76','69','70','384','76.8','B')

In [10]:
import mysql.connector                 #Print all value
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
m = "SELECT * FROM result"
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

('MANISH', 34, 45, 56, 67, 78, 280.0, 56.0, 'C')
('Anish', 44, 54, 45, 76, 78, 297.0, 59.4, 'C')
('Rima', 65, 67, 68, 87, 45, 332.0, 66.4, 'B')
('Rahul', 34, 66, 87, 82, 74, 343.0, 68.6, 'B')
('Jay Kumar paswan', 56, 55, 71, 81, 48, 311.0, 62.2, 'B')
('Chandani Sah', 34, 51, 63, 79, 76, 303.0, 60.6, 'B')
('Anjali Sah', 54, 51, 66, 68, 91, 330.0, 66.0, 'B')
('Ajmer eqbal', 44, 55, 66, 77, 88, 330.0, 66.0, 'B')
('Krishana Sah', 45, 56, 36, 71, 82, 290.0, 58.0, 'C')
('Kamlesh Mukhiya', 87, 76, 65, 54, 43, 325.0, 65.0, 'B')
('Govind Sharma', 77, 87, 65, 45, 91, 365.0, 73.0, 'B')
('Lalit Thakur', 88, 81, 76, 69, 70, 384.0, 76.8, 'B')

In [11]:
import mysql.connector                 #Print selected value  eg:-name.total,per,grade
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
m = "SELECT name,total,per,grade FROM result"
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

('MANISH', 280.0, 56.0, 'C')
('Anish', 297.0, 59.4, 'C')
('Rima', 332.0, 66.4, 'B')
('Rahul', 343.0, 68.6, 'B')
('Jay Kumar paswan', 311.0, 62.2, 'B')
('Chandani Sah', 303.0, 60.6, 'B')
('Anjali Sah', 330.0, 66.0, 'B')
('Ajmer eqbal', 330.0, 66.0, 'B')
('Krishana Sah', 290.0, 58.0, 'C')
('Kamlesh Mukhiya', 325.0, 65.0, 'B')
('Govind Sharma', 365.0, 73.0, 'B')
('Lalit Thakur', 384.0, 76.8, 'B')

In [12]:
import mysql.connector                 #Print selected value used WHERE(keyword) eg:-name.total,per,grade
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
m = "SELECT name,total,per,grade FROM result WHERE per>=70"
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

('Govind Sharma', 365.0, 73.0, 'B')
('Lalit Thakur', 384.0, 76.8, 'B')

In [19]:
import mysql.connector                 #adding date using alter and default value is 2023
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
m = f'''ALTER TABLE result ADD (year int default '2023')'''
db.execute(m)
database.commit()

In [25]:
import mysql.connector                 #DELETION RECORD FROM TABLE result
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
m = '''DELETE FROM result WHERE name ="MANISH"'''
db.execute(m)
database.commit()

In [18]:
import mysql.connector                 #Print all value
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
# n= input("Enter name you want to found his/her data:-")
#m = '''SELECT * FROM result WHERE name="n"'''         #SEARCHING BY "NAME" INPUT 
#m = '''SELECT * FROM result WHERE name="Chandani Sah"'''         #SEARCHING BY "Chandani Sah" INPUT 
# m ='''SELECT * FROM result WHERE physics>=45 and chemistry>=67''' # applying and operation
m ='''SELECT * FROM result WHERE physics>=45 or chemistry>=67''' # applying or operation
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

('Rima', 65, 67, 68, 87, 45, 332.0, 66.4, 'B', 2023)
('Jay Kumar paswan', 56, 55, 71, 81, 48, 311.0, 62.2, 'B', 2023)
('Anjali Sah', 54, 51, 66, 68, 91, 330.0, 66.0, 'B', 2023)
('Krishana Sah', 45, 56, 36, 71, 82, 290.0, 58.0, 'C', 2023)
('Kamlesh Mukhiya', 87, 76, 65, 54, 43, 325.0, 65.0, 'B', 2023)
('Govind Sharma', 77, 87, 65, 45, 91, 365.0, 73.0, 'B', 2023)
('Lalit Thakur', 88, 81, 76, 69, 70, 384.0, 76.8, 'B', 2023)

In [28]:
import mysql.connector                 #Print selected value used WHERE(keyword) eg:-name.total,per,grade
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
m = '''SELECT total,per,grade FROM result ORDER BY total DESC, PER,GRADE ASC'''   #USE ORDWER BY OPERATION ASC= ASCENDIN AND DESC = DESCENDING
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

(384.0, 76.8, 'B')
(365.0, 73.0, 'B')
(343.0, 68.6, 'B')
(332.0, 66.4, 'B')
(330.0, 66.0, 'B')
(330.0, 66.0, 'B')
(325.0, 65.0, 'B')
(311.0, 62.2, 'B')
(303.0, 60.6, 'B')
(297.0, 59.4, 'C')
(290.0, 58.0, 'C')

In [30]:
import mysql.connector                 #Print selected value used WHERE(keyword) eg:-name.total,per,grade
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
m = '''SELECT total,per,grade FROM result WHERE physics IS NOT NULL'''  #USING "IS NULL" OR "IS NOT NULL"
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

(297.0, 59.4, 'C')
(332.0, 66.4, 'B')
(343.0, 68.6, 'B')
(311.0, 62.2, 'B')
(303.0, 60.6, 'B')
(330.0, 66.0, 'B')
(330.0, 66.0, 'B')
(290.0, 58.0, 'C')
(325.0, 65.0, 'B')
(365.0, 73.0, 'B')
(384.0, 76.8, 'B')

In [45]:
import mysql.connector                 #Print selected value used WHERE(keyword) eg:-name.total,per,grade
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
# m = '''SELECT MAX(total) FROM result WHERE physics IS NOT NULL'''  #USING  MAX() 
# m = '''SELECT MIN(total) FROM result WHERE physics IS NOT NULL'''  #USING MIN()
m = '''SELECT COUNT(total) FROM result WHERE  physics >=40'''  #USING COUNT()
m = '''SELECT AVG(total) FROM result WHERE  physics >=40'''  #USING AVG()
m = '''SELECT SUM(total) FROM result WHERE  physics >=40'''  #USING SUM()
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

(2964.0,)

In [28]:
import mysql.connector                 #Print selected value used WHERE(keyword) eg:-name.total,per,grade
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
# m = '''SELECT * FROM result WHERE name LIKE "C%"'''  #like c% means start with c
# m = '''SELECT * FROM result WHERE name LIKE "%a"'''  #like %a means end with a
# m = '''SELECT * FROM result WHERE name LIKE "%ha%"'''  #like %ha% means these alphabet are placed in order
# m = '''SELECT * FROM result WHERE name LIKE "%_a"'''  #like %ha% means name that have "a" in the second position:
# m = '''SELECT * FROM result WHERE name LIKE "R___%"'''  #like %ha% means name that starts with "a" and are at least 3 characters in length:
# m = '''SELECT * FROM result WHERE name LIKE "C%h"'''  #like %ha% means name that starts with "C" and ends with "h"
m = '''SELECT * FROM result WHERE name NOT LIKE "a%"'''  #like %ha% means name that not starts with a
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

('Rima', 65, 67, 68, 87, 45, 332.0, 66.4, 'B', 2023)
('Rahul', 34, 66, 87, 82, 74, 343.0, 68.6, 'B', 2023)
('Jay Kumar paswan', 56, 55, 71, 81, 48, 311.0, 62.2, 'B', 2023)
('Chandani Sah', 34, 51, 63, 79, 76, 303.0, 60.6, 'B', 2023)
('Krishana Sah', 45, 56, 36, 71, 82, 290.0, 58.0, 'C', 2023)
('Kamlesh Mukhiya', 87, 76, 65, 54, 43, 325.0, 65.0, 'B', 2023)
('Govind Sharma', 77, 87, 65, 45, 91, 365.0, 73.0, 'B', 2023)
('Lalit Thakur', 88, 81, 76, 69, 70, 384.0, 76.8, 'B', 2023)

In [34]:
import mysql.connector                 #Print selected value used WHERE(keyword) eg:-name.total,per,grade
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"
)
db = database.cursor()
# m = '''SELECT * FROM result WHERE name IN ('Chandani Sah','Govind Sharma')'''  #IN (value1,value2,...)
# m = '''SELECT * FROM result WHERE name NOT IN ('Chandani Sah','Govind Sharma')'''  #NOT IN (value1,value2,...)
m = '''SELECT * FROM result WHERE physics BETWEEN 40 AND 70 ''' #BETWEEN VALUE1 AND VALUE2
m = '''SELECT * FROM result WHERE physics NOT BETWEEN 40 AND 70 ''' #NOT BETWEEN VALUE1 AND VALUE2
db.execute(m)
rs = db.fetchall()
for i in rs:
    print(i)
database.commit()

('Rahul', 34, 66, 87, 82, 74, 343.0, 68.6, 'B', 2023)
('Chandani Sah', 34, 51, 63, 79, 76, 303.0, 60.6, 'B', 2023)
('Kamlesh Mukhiya', 87, 76, 65, 54, 43, 325.0, 65.0, 'B', 2023)
('Govind Sharma', 77, 87, 65, 45, 91, 365.0, 73.0, 'B', 2023)
('Lalit Thakur', 88, 81, 76, 69, 70, 384.0, 76.8, 'B', 2023)