In [1]:
!pip install mysql-connector
import mysql.connector
database = mysql.connector.connect(
host = "localhost",
    user = "root",
    password = ""

)
db = database.cursor()
try:
    m = "CREATE database manish"
    db.execute(m)
    database.commit()
except:
    print("This database is already exist")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\asus\appdata\roaming\python\python310\site-packages (2.2.9)
This database is already exist

In [3]:
import mysql.connector               #database creation
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = ""
)
dc = database.cursor()
creation = "CREATE DATABASE Unique_hostel"
dc.execute(creation)
dc.close()

True

In [22]:
import mysql.connector              #table creatoin in that database
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "Unique_hostel"
)
dc = database.cursor() #table name is "first floor"
c_table = "CREATE TABLE first_floor(s_id int(11) auto_increment,name varchar(40),address varchar(30),phone_no int(10))"
dc.execute(c_table)
dc.close()

ProgrammingError: 1050 (42S01): Table 'first_floor' already exists

In [26]:
import mysql.connector                 #insertion values in that table
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "Unique_hostel"
)                                     
dc = database.cursor()  #inserting into table "first_floor"
insert = "INSERT INTO first_floor VALUES(1,'Manish_sah','Janakpurdham',919852559)"
insert2 = "INSERT INTO first_floor VALUES(2,'Anish sah','Nagarain-08',9819895384),(2,'rima sah','jhapa','nad@gmail.com')"
dc.execute(insert)
dc.execute(insert2)
database.commit()
dc.close()

True

In [20]:
import mysql.connector                 #selection or print values from that table
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "Unique_hostel"
)                                     
dc = database.cursor() 
selection = "SELECT *FROM first_floor"
dc.execute(selection)
result = dc.fetchall()
for i in result:
    print(i)
database.commit()
dc.close()

(1, 'Manish_sah', 'Janakpurdham', 919852559)
(1, 'Manish_sah', 'Janakpurdham', 919852559)
(1, 'Manish_sah', 'Janakpurdham', 919852559)
(2, 'Anish sah', 'Nagarain-08', 2147483647)

True

In [1]:
import mysql.connector              #UPDATE from tabel
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "Unique_hostel"
)
dc = database.cursor()              #table name is "first floor"
update = "UPDATE first_floor SET name ='rina',Address ='sarlahi' where s_id =2"
dc.execute(update)
database.commit()
dc.close()

True

In [2]:
import mysql.connector                 #selection or print values from that table
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "Unique_hostel"
)                                     
dc = database.cursor() 
selection = "SELECT *FROM first_floor"
dc.execute(selection)
result = dc.fetchall()
for i in result:
    print(i)
database.commit()
dc.close()

(1, 'Manish_sah', 'Janakpurdham', 919852559)
(1, 'Manish_sah', 'Janakpurdham', 919852559)
(1, 'Manish_sah', 'Janakpurdham', 919852559)
(2, 'rina', 'sarlahi', 2147483647)
(1, 'Manish_sah', 'Janakpurdham', 919852559)
(2, 'rina', 'sarlahi', 2147483647)
(2, 'rina', 'sarlahi', 0)
(1, 'Manish_sah', 'Janakpurdham', 919852559)
(2, 'rina', 'sarlahi', 2147483647)
(2, 'rina', 'sarlahi', 0)

True