In [7]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\asus\appdata\roaming\python\python310\site-packages (2.2.9)

In [1]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = ""
)
db = database.cursor()
db.execute("CREATE DATABASE pythons")

In [3]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "students_details"
)
db = database.cursor()

In [29]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "students_details"
)
db = database.cursor()
table ='''create table studentdetails(s_id int(11),name varchar(30),address varchar(200),email varchar(50))'''
# insert = "insert into studentdetails values(1,'debendra_sah','nagarain-08','manishsah000056@gmail.com')"
db.execute(table)
# db.execute(insert)
# db.commit()                
db.close()                        #It's executed but only one time after that it shows error that this name is already exist

ProgrammingError: 1050 (42S01): Table 'studentdetails' already exists

In [5]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "students_details"
)
db = database.cursor()
m = "select * from studentdetails"
db.execute(m)
result = db.fetchall()
for i in result:
    print(i)

(1, 'debendra', 'nagarain', 'manishsah000056@gmail.com')

In [5]:
# select in database
db.execute("SELECT * FROM student_details_broadway")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Manish kumar sah', 43, 54, 65, 76, 87, 43.0, 0.0, 0.0)
(5, 'Manish kumar sah', 40, 50, 60, 70, 80, 300.0, 60.0, 60.0)

In [6]:
# select in database
db.execute("SELECT sn,Name,total FROM student_details_broadway")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Manish kumar sah', 43.0)
(5, 'Manish kumar sah', 300.0)

In [7]:
# select in database
db.execute("SELECT sn,Name,total FROM student_details_broadway WHERE grade = 60")
result = db.fetchall()
for x in result:
    print(x)

(5, 'Manish kumar sah', 300.0)

In [17]:
# insert into database
sql = '''INSERT INTO student_details_broadway VALUES('2','Anish','56','65','76','87','98','365','78','78')'''

db.execute(sql)
database.commit()

In [14]:
pip install mysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql in c:\users\asus\appdata\roaming\python\python310\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\asus\appdata\roaming\python\python310\site-packages (from mysql) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import mysql.connector