In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.iplt20.com/auction/2020"
r= requests.get(url)
soup = BeautifulSoup(r.text,"lxml")
# print(soup)
table= soup.find_all("table", class_ = "ih-td-tab auction-tbl")
# print(table)
head = soup.find_all("th",class_="skip-filter")
print(head)

[<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>, <th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">PLAYER</th>, <th class="skip-filter" style="width:25%;">TYPE </th>, <th class="skip-filter" style="width:25%;">PRICE</th>, <th class="skip-filter" style="width:34%;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;;text-align: left;">PLAYER</th>, <th class="skip-filter" style="width:34%;;text-align: left;">PLAYER</th>]

In [20]:
header= soup.find("tbody",id = "pointsdata")
tables = []
for i in header:
    tab = i.text.split("\n")
#     if tab[1]!="":
    tables.append(tab)
# print(tables)
df = pd.DataFrame(tables)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,,None,None,None,None,None,None,None,None,None,None,None
1,,,,,,,Chennai Super Kings,,,"₹15,00,000",8,24,
2,,,None,None,None,None,None,None,None,None,None,None,None
3,,,,,,,Delhi Capitals,,,"₹9,00,00,000",8,22,
4,,,None,None,None,None,None,None,None,None,None,None,None
5,,,,,,,Kings XI Punjab,,,"₹16,50,00,000",8,25,
6,,,None,None,None,None,None,None,None,None,None,None,None
7,,,,,,,Kolkata Knight Riders,,,"₹8,50,00,000",8,23,
8,,,None,None,None,None,None,None,None,None,None,None,None
9,,,,,,,Mumbai Indians,,,"₹1,95,00,000",8,24,
10,,,None,None,None,None,None,None,None,None,None,None,None
11,,,,,,,Rajasthan Royals,,,"₹14,75,00,000",8,25,
12,,,None,None,None,None,None,None,None,None,None,None,None
13,,,,,,,Royal Challengers Bangalore,,,"₹6,40,00,000",8,21,
14,,,None,None,None,None,None,None,None,None,None,None,None
15,,,,,,,Sunrisers Hyderabad,,,"₹10,10,00,000",8,25,
16,,,None,None,None,None,None,None,None,None,None,None,None