In [145]:
# list is a mutable dataa types
l = [2,4,6,"manish",[78,56,21,"anish",45,78],34.7]
print(l.index(34.7))

5

In [12]:
print(l[4][3])

anish

In [15]:
print(l[0:3])

[2, 4, 6]

In [17]:
print(l[0::2])

[2, 6, [78, 56, 21, 'anish', 45, 78]]

In [23]:
print(l[-1::-1]) # in decrement we also put the decrement value eg. -1 which is in last

[34.7, [78, 56, 21, 'anish', 45, 78], 'manish', 6, 4, 2]

In [26]:
print(l[3],l[4][4])

manish 45

In [29]:
#Iteration

In [44]:
# t = len(l)
# t
# print(len(l))
for n in range(len(l)):
    print(l[n])

2
4
6
manish
[78, 56, 21, 'anish', 45, 78]
34.7

In [48]:
for i in l:
    print(l)

[2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]
[2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]
[2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]
[2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]
[2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]
[2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]

In [50]:
for i in l:
    print(i)

2
4
6
manish
[78, 56, 21, 'anish', 45, 78]
34.7

In [54]:
for i in range(t-1,-1,-1):
    print(l[i])

34.7
[78, 56, 21, 'anish', 45, 78]
manish
6
4
2

In [55]:
# list delete function

In [63]:
l = [2,4,6,"manish",[78,56,21,"anish",45,78],34.7]
del l[0]  #del keyword delete the value through index number 
print(l)

[4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]

In [71]:
l = [2,4,6,"manish",[78,56,21,"anish",45,78],34.7]
l.pop(1) # pop function also delete the value through index number
print(l)

[2, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]

In [72]:
l = [2,4,6,"manish",[78,56,21,"anish",45,78],34.7]
l.remove("manish")     #remove function delete the value through value not by index number
print(l)

[2, 4, 6, [78, 56, 21, 'anish', 45, 78], 34.7]

In [77]:
l = [2,4,6,"manish",[78,56,21,"anish",45,78],34.7]
l.clear()
print(l)

[]

In [78]:
#update functions in list

In [80]:
l = [2,4,6,"manish",[78,56,21,"anish",45,78],34.7]
print(l[0])

2

In [82]:
l.insert(0,10)   # insert function gives the two value 1st is index no. and 2nd is value of that index and index must not be greater than list
print(l)

[10, 10, 2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7]

In [84]:
l.append(55)        #append function  just append the value in the last
print(l)

[10, 10, 2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7, 55, 55]

In [88]:
m= ["rima","debendra"]
l.append(m)
print(l)

[10, 10, 2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7, 55, 55, ['rima', 'debendra'], ['rima', 'debendra'], ['rima', 'debendra']]

In [92]:
l.append('dev')    # i'm going to run it 4 time so it's print the value "dev " 4 time
print(l)

[10, 10, 2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7, 55, 55, ['rima', 'debendra'], ['rima', 'debendra'], ['rima', 'debendra'], ['dev'], 'dev', 'dev', 'dev']

In [98]:
n=["ajmer",39]
l.extend(n)              # i run it 3 time so it inseert value 3 time
print(l)

[10, 10, 2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7, 55, 55, ['rima', 'debendra'], ['rima', 'debendra'], ['rima', 'debendra'], ['dev'], 'dev', 'dev', 'dev', 'ajmer', 39, 'ajmer', 39, 'ajmer', 39]

In [100]:
l.extend(["ramesh",677])
print(l)      # i run it twice

[10, 10, 2, 4, 6, 'manish', [78, 56, 21, 'anish', 45, 78], 34.7, 55, 55, ['rima', 'debendra'], ['rima', 'debendra'], ['rima', 'debendra'], ['dev'], 'dev', 'dev', 'dev', 'ajmer', 39, 'ajmer', 39, 'ajmer', 39, 'ramesh', 677, 'ramesh', 677]

In [101]:
#Some extra function

In [103]:
#count    we also do like:->  a = l.count("dev")   then print(a)
print(l.count("dev")) # return the value you want to find how much times repeated this value

3

In [108]:
#min(),max()
l=[34,56,78,3,289]
print("max vlaue is :",max(l))
print("min value is:",min(l))

max vlaue is : 289
min value is: 3

In [110]:
l = ["manish","anish","ram","janaki"]    # in string min and max found by first letter
print("max value is :",max(l))
print("min value is:",min(l))

max value is : ram
min value is: anish

In [113]:
l.sort()  # sorting by first letter of every words
print(l)

['anish', 'janaki', 'manish', 'ram']

In [115]:
l.reverse()
print(l)

['anish', 'janaki', 'manish', 'ram']

In [124]:
l = [12,45,67,634,7,78]
m = l.index(45)
print(m)

1

In [126]:
#Zip function means how to print two list at same time
# 1)solution
l1 = [12,45,67,634,7,78]
l2 = ["manish","anish","ram","janaki"]     #It print equally means same index number
for a,b in zip(l1,l2):
    print(a,b)

12 manish
45 anish
67 ram
634 janaki

In [136]:
# 2)solution
t = len(l1)
t1 = len(l2)
for i in range(t):
    print(l1[i],l2[i])

12 manish
45 anish
67 ram
634 janaki

IndexError: list index out of range

In [139]:
#Converting string to list
n = input("Enter the string")
l = n.split(".")          # it split the string from space by default but now it split from "."
print(l)

Enter the stringMy name is manish. I am from Nepal. I love fooding.
['My name is manish', ' I am from Nepal', ' I love fooding', '']

In [144]:
l = []
n = int(input("enter the nth time you want to add"))     # because of intger value we add range())
for i in range(n):
    d = input("enter the value you want to add")
    l.append(d)
print(l)

enter the nth time you want to add3
enter the value you want to addmanish
enter the value you want to addanish
enter the value you want to addrima
['manish', 'anish', 'rima']