In [20]:
!pip install mysql-connector
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = ""
)
db = database.cursor()
db.execute("CREATE DATABASE always")      # A database is created only ine time after that it pass wrong

IndentationError: expected an indented block after 'try' statement on line 8 (3791027056.py, line 9)

In [12]:
# selection
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "brosdway_python"

)
db = database.cursor()
db.execute("SELECT * FROM python_8am ")
result = db.fetchall()
for i in result:
    print(i)

(1, 'Manish kumar sah', 'Janakpurdham', '9819852559')

In [14]:
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "hostel"
)
db = database.cursor()
db.execute("select *  from courses where id<=6")
value = db.fetchall()
for i in value:
    print(i)

(1, 'B10992', 'B.Tech', 'Bachelor  of Technology', datetime.datetime(2020, 7, 5, 1, 16, 42))
(2, 'BCOM1453', 'B.Com', 'Bachelor Of commerce ', datetime.datetime(2020, 7, 5, 1, 16, 42))
(3, 'BSC12', 'BSC', 'Bachelor  of Science', datetime.datetime(2020, 7, 5, 1, 16, 42))
(4, 'BC36356', 'BCA', 'Bachelor Of Computer Application', datetime.datetime(2020, 7, 5, 1, 16, 42))
(5, 'MCA565', 'MCA', 'Master of Computer Application', datetime.datetime(2020, 7, 5, 1, 16, 42))
(6, 'MBA75', 'MBA', 'Master of Business Administration', datetime.datetime(2020, 7, 5, 1, 16, 42))